@using PandoNexis.Accelerator.Extensions.ViewModels.Framework
@model PNHeaderViewModel
@{
    var isPortal = @Model.PortalData.IsPortal;
    var areaClass = @Model.Area.ToLower();
}
@if (!isPortal && @Model.Channels.Any())
{
    var currentLanguage = @Model.Channels.FirstOrDefault(x => x.Key.ToString() == Model.ChannelId);

    <div class="website-selector website-selector-@(areaClass)">
        @if (@Model.Area == "Header")
        {
        <div class="website-selector-header__current">
            <label for='websiteSelectorCheckbox'>
                <img src="@(currentLanguage.Value.IconUrl)" alt="@(currentLanguage.Value.CountryName)" class="website-selector__img" />
                    <span class="website-selector-header__current-name">
                @currentLanguage.Value.CountryName
                    </span>
                    <span class="arrow__dropdown"><i></i></span>
            </label>
        </div>
        <input id='websiteSelectorCheckbox' type='checkbox' />
        }
        <label class="website-selector__overlay" for='websiteSelectorCheckbox'>
            <div></div>
        </label>
        <ul id="websitePicker@(Model.Area)" class="website-selector-@(areaClass)__items row">
            @if (@Model.Area != "Header")
            {
                <li class="website-selector__current small-6 columns">
                    <img src="@(currentLanguage.Value.IconUrl)" title="@currentLanguage.Value.CountryName" alt="@(currentLanguage.Value.CountryName)" class="website-selector__img" />
                    @currentLanguage.Value.CountryName
                </li>
            }
            @foreach (var channel in Model.Channels)
            {
                if (channel.Key.ToString() != Model.ChannelId)
                {
                    <li class="small-6 columns">
                        <a href="@channel.Value.Url" title="@channel.Value.CountryName" target="@(channel.Value.LinkToNewWindow?"_blank":"_self")">
                            <img src="@channel.Value.IconUrl" alt="@(channel.Value.CountryName)" class="website-selector__img" />
                            @channel.Value.CountryName
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
}