@using Litium.Accelerator.Mvc.Controllers.Framework
@using System.Globalization
@using Microsoft.AspNetCore.Http
@{
    var bareLayout = (bool?)ViewContext.RouteData.DataTokens["BareLayout"] == true;
    var pageCssClass = ViewData["PageCssClass"];
    var sessionInitClass = (bool)ViewData["IsSessionInit"] ? "session__init" : "";
    var isLoggedOn = User.Identity.IsAuthenticated;
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Parent.Name">
<head>
    <vc:head-layout-controller />
    @RenderSection("head", false)
    <vc:client-context-controller />
</head>
<body class="@pageCssClass @sessionInitClass">
    <div class="pn-main-background" id="pnMainBackground"></div>
    <section class="pn-page__wrapper">
        <vc:body-start-layout-controller />
        @if (!bareLayout)
        {
            <vc:header-layout-controller />
            <vc:bread-crumbs-layout-controller />
        }
        <main class="main-content">
            <section data-litium-block-id="7da7f18c-0a11-4a46-b233-da43b3111906">
                <div class="image-stats-block">
                    <div class="row small-up-1 medium-up-2">
                        <div class="columns">
                            <div class="image-stats-block__image-title-wrapper">
                                <div class="image-stats-block__image-title-wrapper__text-holder">
                                    <h2 class="image-stats-block__image-title-wrapper__title">
                                        Universums bästa
                                    </h2>
                                    <h2 class="image-stats-block__image-title-wrapper__title-alt-color">
                                        på Litium
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="image-stats-block__items-wrapper">
                                <div class="image-stats-block__items-wrapper__items">
                                    <div class="image-stats-block__items-wrapper__items__text-highlight">
                                        <p>Litium erfarenhet</p>

                                    </div>
                                    <div class="image-stats-block__items-wrapper__items__text">
                                        <p>24år</p>

                                    </div>
                                </div>
                                <div class="image-stats-block__items-wrapper__items">
                                    <div class="image-stats-block__items-wrapper__items__text-highlight">
                                        <p>Litium certifieringar</p>

                                    </div>
                                    <div class="image-stats-block__items-wrapper__items__text">
                                        <p>6 st</p>

                                    </div>
                                </div>
                                <div class="image-stats-block__items-wrapper__items">
                                    <div class="image-stats-block__items-wrapper__items__text-highlight">
                                        <p>Inom IT</p>

                                    </div>
                                    <div class="image-stats-block__items-wrapper__items__text">
                                        <p>50 år</p>

                                    </div>
                                </div>
                                <div class="image-stats-block__items-wrapper__items">
                                    <div class="image-stats-block__items-wrapper__items__text-highlight">
                                        <p>Antal anställda</p>

                                    </div>
                                    <div class="image-stats-block__items-wrapper__items__text">
                                        <p>3 st</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            @*  <div id="media-catalog" data-media-folder-id="62bed118-f355-4e3b-9c19-7aee501dc126"></div>*@
            @RenderBody()
        </main>
        @if (!bareLayout)
        {
            <vc:footer-layout-controller />
        }
        <div id="globalNotification"></div>
        @RenderSection("js", false)
        <vc:body-end-layout-controller />
    </section>
</body>
</html>
